*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-corporated: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-line {
    border-bottom: solid 2px var(--color-cornflower);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1158px;
    align-items: baseline;
    margin-left: 156px;

}

.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
}

.nav {
    padding: 24px 0 24px 156px;
    column-gap: 76px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.text-web {
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}

.text-studio {
    color: var(--color-corporated);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.list-team {
    border: 2px;
}

.list {
    column-gap: 40px;
}

.list,
.list-advantages {

    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.list-activities {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.list-menu>a {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    margin-right: 15px;
}

.list-menu>a:hover,
.list-menu>a:focus {
    color: var(--color-ocean);
}

.address {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}

.address:hover,
.address:focus {
    color: var(--color-ocean);
}

.section-hero {
    background-color: var(--color-corporated);
    color: var(--color-white);
    height: 600px;
}


.hero {
    padding-top: 188px;
    padding-left: 472px;
    padding-right: 472px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
}


.text-header {

    font-family: var(--primary-font);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-left: 331px;
}

.button-order {
    background: var(--color-iris);
    color: var(--color-white);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: 331px;
}

.button-order:hover,
.button-order:focus {
    background: var(--color-ocean);
    color: var(--color-white);
    cursor: pointer;
}

.second-header {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.third-header {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: capitalize;
}

.text-item {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.team-section {
    background-color: #f4f4fd;
}


.button-filters {
    background-color: var(--color-cloud);
    color: var(--color-iris);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button-filters:hover,
.button-filters:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
    cursor: pointer;
}

.button-filters:active {
    background-color: var(--color-ocean);
    color: var(--color-white);
}

.footer {
    height: 312px;
    background-color: var(--color-corporated);
}


.text-web-footer {
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-studio-footer {
    color: var(--color-white);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.text-footer {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-cloud);

}